*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-con{
    width: 100%;
    height: auto;
    position: absolute;

}
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid wheat;
    position: fixed;
    z-index: 100;
    background-color: white;
}
.nav-left{
    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-left a{
    width: 25%;
    height: 25px;
}
.nav-left a img{
    width: 100%;
    height: 25px;
}
.nav-right{
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.nav-right ul{
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;

}
.nav-right ul li a{
    text-decoration: none;
    color: rgb(150, 94, 94);
    font-size: 20px;
}
.nav-right ul li a:hover{
    color: blueviolet;
}
.navicon{
    display: none;
}

/* navbar end */


.con-1{
width: 100%;
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 50px;
/* padding-block: 50px; */
}
.con-1 img{
    width: 50%;
    height: auto;
}
.con-1 h1{
    font-size: 44px;
    font-weight: 500;
    margin-top: 40px;

}
.con-1 p{
    font-size: 20px;
    margin-top: 10px;

}
.con-1 a{
    width: 15%;
    height: 45px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    border: 1px solid blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}

.con-1 a:hover{
    color: white;
     background-color: black;
}


/* con 1 end */

.con-2{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 30px;
    flex-direction: column;

}
.con-2-flexbox{
    width: 80%;
    height: auto;
    display: flex;
   
}
.con-2-left{
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.con-2-left h1{
    width: 100%;
    height: auto;
    font-weight: 600;
}
.con-2-text1{
    width: 100%;
    height: auto;
}
.con-2-text1 h2{
    width: 100%;
    height: auto;
    font-weight: 500;

}
.con-2-text1 p{
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
}
.con-2-text2{
    width: 100%;
    height: auto;
}
.con-2-text2 h2{
    width: 100%;
    height: auto;
    font-weight: 500;

}
.con-2-text2 p{
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
}
.con-2-text3{
    width: 100%;
    height: auto;
}
.con-2-text3 h2{
    width: 100%;
    height: auto;
    font-weight: 500;

}
.con-2-text3 p{
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
}
.con-2-text4{
    width: 100%;
    height: auto;
}
.con-2-text4 h2{
    width: 100%;
    height: auto;
    font-weight: 500;
}
.con-2-text4 p{
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
}



.con-2-right{
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.con-2-img{
    width: 100%;
    height: 80%;
 

} 
.con-2-img img{
    width: 90%;
    height: 100%;
}
.con-2-btn{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-2-btn a{
  width: 30%;
  font-size: 18px;
  text-decoration: none;
  color: blueviolet;

}
.con-2-footer-img{
    width: 80%;
    height: auto;
    margin-top: 40px;
}
.con-2-footer-img a{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-2-footer-img img{
    width: 60%;
    height: auto;
}

/* con 2 end  */

.con-3{
    width: 100%;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.con-3 h1{
    width: 80%;
    margin-block: 20px;
}
.con-3-flexbox{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-3-left{
    width: 40%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.con-3-left p{
    font-size: 18px;
}
.con-3-left a{
    text-decoration: none;
    font-size: 16px;
}
.con-3-left a i{
    margin-left: 5px;
}
.con-3-right{
    width: 60%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.con-3-right a{
    display: none;
}
.con-3-box{
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-3-box img{
    width: 60%;
    height: auto;
}
.con-3-box p{
    font-size: 12px;
}


/* con 3 end */

.con-4{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-4-flexbox{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.con-4-left{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.con-4-right{
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.con-4-right h1{
    width: 100%;
    height: auto;
}
.con-4-text{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.con-4-text p{
    font-size: 18px;
}
.con-4-text a{
    text-decoration: none;
    font-size: 18px;
    color: blueviolet;
}
.con-4-text a i{
    font-size: 16px;
    margin-left: 5px;
}

/*  con 4 end */

.con-5{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.con-5 h1{
    width: 100%;
    font-size: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.con-5 p{
    font-size: 20px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 30px;

}
.con-5 a{
    width: 15%;
    height: 40px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    border: 1px solid blueviolet;

    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-5 a:hover{
    background-color: black;
}

/* con 5 end */

.con-6{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    background-color: #FBFBFB;
}
.con-6-flexbox{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list1{
    width: 20%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.list1 img{
    width: 70%;
}
.list1 p{
    font-size: 14px;
    width: 100%;
    margin-block: 20px;
}

.list-icon1{
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-icon1 a{
    text-decoration: none;
    color: black;
   
}
.list-icon1 a i{
    font-size: 23px;
}
.list-icon2{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.list-icon2 a{
    text-decoration: none;
    color: black;
   
}
.list-icon2 a i{
    font-size: 23px;
}
.list-icon1 a i:hover{
    color: blue;
}
.list-icon2 a i:hover{
    color: blue;
}
.list2{
    width: 20%;
    height: 450px;
}
.list2 ul{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.list2 ul li{
    list-style: none;
}
.list2 ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.list3{
    width: 20%;
    height: 450px;
}
.list3 ul{
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.list3 ul li{
    list-style: none;
}
.list3 ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.list4{
    width: 20%;
    height: 450px;
}
.list4 ul{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.list4 ul li{
    list-style: none;
}
.list4 ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.list2 ul li a:hover{
    color: blue;
}
.list3 ul li a:hover{
    color: blue;
}
.list4 ul li a:hover{
    color: blue;
}

/* con 6 end */

.con-7{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBFBFB;
    flex-direction: column;
}
.con-7-flexbox{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;

}
.con-7-flexbox p{
    font-size: 13px;
    color: #979191;
}
.con-7-flexbox :nth-child(2){
    margin-top: 10px;

}
.con-7-flexbox :nth-child(3){
    margin-top: 10px;

}
.con-7-flexbox :nth-child(3) a{
    text-decoration: none;
}
.con-7-flexbox :nth-child(2) a{
    text-decoration: none;
}
.con-7-flexbox :first-child a{
    text-decoration: none;
}
.con-7-flexbox :nth-child(4){
    margin-top: 10px;
}
.con-7-flexbox :nth-child(5){
    margin-block: 10px;
}
.con-7-flexbox :nth-child(6) a{
    text-decoration: none;

}.footer{
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 10px;
}
.footer a{
    font-size: 12px;
    text-decoration: none;
    color: blue;
}
















/* responsive */
@media (max-width:480px) {
    .main-con{
        width: 100%;
        height: auto;
    }
    .navbar{
        width: 100%;
        height: auto;
    }
    .nav-left{
        width: 30%;
        height: 50px;
    }
    .nav-left a{
        width: 70%;
        height: auto;
    }

    .nav-left a img{
        width: 100%;
        height: auto;
       
    }
    .nav-right{
        width: 20%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-right ul{
        width: 100%;
        height: 50px;
    }
    .nav-right ul{
        display: none;

    }
    .navicon{
        display: inline;
        width: 40%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        
    }
    .con-1{
        width: 100%;
        height: 90vh;

    }
    .con-1 img{
        width: 100%;
    }
    .con-1 h1{
        font-size: 40px;
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 50px;
    }
    .con-1 p{
        font-size: 18px;
        width: 80%;
        text-align: center;
    }
    .con-1 a{
        width: 42%;
        font-size: 14px;
        margin-top: 60px;
    }
    .con-2{
        width: 100%;
        height: auto;
    }
    .con-2 h1{
        text-align: center;
        margin-bottom: 10px;
    }
    .con-2-flexbox{
        width: 100%;
        height: auto;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .con-2-left{
        width: 95%;
        height: auto;

    }
    .con-2-right{
        width: 100%;
        height: auto;
    }
    .con-2-img{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block: 20px;
    }
    .con-2-btn{
        width: 100%;
        height: auto;
     
    }
    .con-2-btn a{
        margin-inline: 10px;
        font-size: 15px;
        width: auto;
    }
    .con-2-footer-img{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .con-2-footer-img a{
        width: 90%;
        height: 30px;
    }
    .con-2-footer-img a img{
        width: 100%;
        height: auto;
    }
    .con-3{
        width: 100%;
        height: auto;
    }
    .con-3 h1{
        width: 95%;
        font-size: 26px;
        text-align: center;
    }
    .con-3-flexbox{
        width: 95%;
        flex-direction: column;
        height: auto;
    }
    .con-3-left{
        width: 100%;
        height: auto;
        padding-block: 50px;
       
    }
    .con-3-left a{
        display: none;
    }
    .con-3-right{
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }
    .con-3-box p{
        font-size: 10px;
        width: 100%;
        height: auto;
        padding-block: 10px;
    }
    .con-3-box{
        width: 45%;
        height: auto;
        margin-top: 10px;
    }
    .con-3-right a{
        display: inline;
        text-decoration: none;
        width: 30%;
    }
    .con-3-right a i{
        margin-left: 10px;
        font-size: 14px;
    }
    .con-4{
        width: 100%;
        height: auto;
    }
    .con-4-flexbox{
        width: 95%;
        height: auto;
        flex-direction: column;
    }
    .con-4-left{
        width: 100%;
        height: auto;
        padding-block: 50px;
    }
    .con-4-left img{
        width: 100%;
        height: auto;
    }
    .con-4-right{
        width: 100%;
        height: auto;
        /* margin-top: 50px; */
    }
    .con-4-text{
        width: 100%;
        height: 150px;
    }
    .con-4-right h1{
        text-align: center;
        font-size: 22px;
    }
    .con-4-text p{
        width: 100%;
        height: auto;
    }
    .con-4-text a{
        width: 100%;
        height: auto;
    }
    .con-5{
        width: 100%;
        height: auto;
        padding-block: 50px;
    }
    .con-5 h1{
        font-size: 28px;
        text-align: center;
    }
    .con-5 p{
        font-size: 16px;
        width: 90%;
        text-align: center;
    }
    .con-5 a{
        width: 43%;
        font-size: 14px;

    }
    .con-6{
        width: 100%;
        height: auto;
    }
    .con-6-flexbox{
        width: 100%;
        flex-direction: column;
    }
    .list1{
        width: 95%;
        height: auto;
    }
    .list1 img{
        width: 30%;
    }
    .list1 p{
        width: 60%;
    }
    .list-icon1{
        width: 40%;
    }
    .list-icon2{
        width: 30%;
    }
    .list2{
        width: 95%;
        margin-top: 20px;
        height: auto;
    }
    .list3{
        width: 95%;
        margin-block: 20px;
        height: auto;
        
    }
    .list4{
        width: 95%;
        height: auto;
    }

    .con-7{
        width: 100%;

    }
    .con-7-flexbox{
        width: 95%;
        margin-top: 50px;
    }
    .footer{
        width: 100%;
        flex-wrap: wrap;
        display: flex;

    }
    .footer a{
        font-size: 14px;
        width: 30%;
        margin-block: 10px;

    }



   

    
  
    
}
